// logo

.logo
  display: inline-block
  &__img
    width: 24.6rem

// banner

.banner
  background: url('../images/intro-1.webp') calc(50% + 1rem) calc(100% + 5rem) / 162rem no-repeat, url('../images/intro-2.webp') center / cover no-repeat

// header

.header
  padding: 2.5rem 0

// intro

.intro
  padding-bottom: 13rem

  &__content
    width: 55rem

  &__span
    display: inline-block
    &--pl-sm
      padding-left: 3.3rem
    &--pl-md
      padding-left: 9rem

  &__description
    margin-top: 2.5rem
    text-align: center
    line-height: 1.3

  &__buttons
    margin-top: 4rem
    display: flex
    gap: 1.5rem
