// slider

.slider
  &-list
    display: flex
    &__item
      flex-shrink: 0
      padding-right: 3rem
      box-sizing: content-box
      @media (min-width: $screen-md)
        padding: 0
  &-control
    display: flex
    gap: 1.5rem
    align-items: center
    justify-content: center
  &-counter
    font-size: 1.6rem
    color: $gray
    &__position
      color: $text-color
  &-dot
    display: flex
    align-items: center
    justify-content: center
    gap: .5rem
    &__item
      width: 1rem
      height: 1rem
      border-radius: 1rem
      background: $gray
      &--active
        background: $text-color
